/* @font-face {
    font-family: "Museo Sans Rounded -100";
    src: url(../fonts/MuseoSansRounded-100.eot);
    src: url(../fonts/MuseoSansRounded-100.eot?iefix) format("eot"),
      url(../fonts/MuseoSansRounded-100.woff) format("woff"),
      url(../fonts/MuseoSansRounded-100.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  } */

@font-face {
    font-family: 'gothambold1';
    src: url('../fonts/gothambold1.eot');
    src: local('gothambold1'), url('../fonts/gothambold1.woff') format('woff'), url('../fonts/gothambold1.ttf') format('truetype');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBook.eot');
    src: local('GothamBook'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'GothamMediumRegular';
    src: local('GothamMediumRegular'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/GothamMediumRegular.ttf') format('truetype');
}